<!-- Add script to the <head> of your page to load the embeddable map component -->
<script type="module" src="https://js.arcgis.com/5.0/embeddable-components/"></script>
<!-- Add custom element to <body> of your page -->
 <arcgis-embedded-map style="height:600px;width:700px;" item-id="a03687e391e54ea0968f83cbb0ddd7f9" theme="dark" heading-enabled time-zone-label-enabled center="-83.13578167707416,34.411470016397445"scale="18489297.737236" portal-url="https://www.arcgis.com"></arcgis-embedded-map>
